@use '../variaveis';

.button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &--primary{
        background: linear-gradient(variaveis.$gd3, variaveis.$gd4) ;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center;
        padding: 10px 20px;
        height: 50px;
    }

    @media (max-width: 1024px){
        display: flex;
        align-items: center;
    }

    @media (max-width:640px){
        display: block;
        width: 100%;
    }
}