$fontePrincipal: "Quicksand", sans-serif;
$fonteGradiente: "Libre Caslon Text", serif;

$textColor: #000;
$gold-gradient: linear-gradient(45deg, #ffe998, #f4c65a, #b58e52, #57370d, #3d2506, #57370d, #b58e52, #f4c65a, #ffe998);


$gd1: #ffe998;
$gd2: #F4C65A;
$gd3: #B58E52;
$gd4: #57370d;